/*
/*/


##################
# unused files   #
##################
*~
*.pyc
*bak
.project
.*project
.classpath

##################
# tracked folders#
##################
!/icons/
/icons/*.svg

#############################
# tracked files in root dir #
#############################
!.gitignore
!README.md
!painter.py
!pre_process.py




