/*
/*/


##################
# unused files   #
##################
*~
*.pyc
*bak
*back
*backup
.project
.*project
.classpath

##################
# tracked folders#
##################
!/icons/
/icons/*.svg

#############################
# tracked files in root dir #
#############################
!.gitignore
!README.md
!alias.sh
!painter.sh
!json2dot.py
!json2dict.py
!utils.py




