/*
/*/


##################
# unused files   #
##################
*~
*.pyc
.project
.*project
.classpath
!alias.sh
reporter.sh

##################
# tracked folders#
##################
!/icons/
/icons/*.svg

#############################
# tracked files in root dir #
#############################
!.gitignore
!README.md
!painter.sh
!json2dot.py



